:root {
    --tag--min-width: 1ch;
    --tag--max-witdh: auto;
}

#tagmark-table {
    font-size: 0.8em;
}

.tabulator {
    overflow: visible;
}

#tag-definition::-webkit-scrollbar,
.custom-title::-webkit-scrollbar {
    display: none;
}

#tagmark-table ::-webkit-scrollbar,
#all-tags-overlay ::-webkit-scrollbar,
#filter-doc-overlay ::-webkit-scrollbar {
    -webkit-appearance: none;
}

#tagmark-table ::-webkit-scrollbar:vertical,
#all-tags-overlay ::-webkit-scrollbar:vertical,
#filter-doc-overlay ::-webkit-scrollbar:vertical {
    width: 4px;
}

#tagmark-table ::-webkit-scrollbar:horizontal,
#all-tags-overlay ::-webkit-scrollbar:horizontal,
#filter-doc-overlay ::-webkit-scrollbar:horizontal {
    height: 4px;
}

#tagmark-table ::-webkit-scrollbar-thumb,
#all-tags-overlay ::-webkit-scrollbar-thumb,
#filter-doc-overlay ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}
#tagmark-table ::-webkit-scrollbar-thumb,
#all-tags-overlay ::-webkit-scrollbar-thumb,
#filter-doc-overlay ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

a {
    color: white;
}

a:visited {
    color: darkgray;
}

a:hover {
    color: lightblue;
}

body {
    background-color: #333;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.tags-container,
.topics-container {
    white-space: normal;
}

.tag-container,
.topic-span {
    display: inline-block;
    color: black;
    padding: 0.3em 0.3em;
    margin-top: 0.2em;
    margin-right: 0.2em;
    border-radius: 4px;
    font-size: 0.9em;
}

.button-show-switch-container {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}

.custom-title {
    position: absolute;
    background-color: #333;
    color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
    font-size: 0.8em;
    overflow: scroll;
}

.overlay {
    color: white;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    min-width: 40%;
    min-height: 40%;
    width: 60%;
    height: 60%;
    max-width: 90%;
    max-height: 90%;
    background-color: #333;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: both;
    overflow: auto;
}

.overlay.active {
    display: flex;
}

.overlay sub {
    font-size: 0.7em;
}

.modal {
    position: relative;
    background-color: #333;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
}

.modal-header {
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    z-index: 1;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 10px;
}

.modal-header h2 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#all-tags-show-container {
    margin-left: 20px;
}

#all-tags-sort-fieldset,
#all-tags-show-fieldset {
    display: inline-block;
    margin: 0;
    padding: 2px 2px;
    border-radius: 5px;
    cursor: pointer;
}

#all-tags-sort-fieldset input {
    vertical-align: middle;
    margin-right: 0;
    margin-bottom: 3px;
}

#all-tags-sort-fieldset label {
    vertical-align: middle;
    padding-right: 0;
    margin-left: 0;
}

#all-tags-sort-fieldset span {
    display: inline-block;
    margin-right: 10px;
}

.close-btn {
    background: transparent;
    border: none;
    color: #ccc;
    font-size: 2em;
    cursor: pointer;
    margin-left: auto;
}

.modal-menu {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 0px 20px;
}

.link {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px 10px;
}

.modal-body {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.body-container {
    padding: 20px;
}

#filter-doc-language-select {
    margin-left: 5px;
    background: #444;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px 0px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: #333;
    color: #999;
    font-size: 0.8em;
    text-align: center;
}

.footer-inner > div {
    margin-top: 5px;
}

.footer a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.footer span {
    cursor: pointer;
}
